<h2>Signup</h2>
  <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %> <br>
  <div id="error_explanation">
    <h2>
      <% if @user.errors.count != 0 %>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being created:
      <% end %>
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %> <br>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :password %>
  <%= f.password_field :password %> <br>
  <%= f.check_box :admin %>
  <%= f.submit %>
<% end %>
